body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.instruction {
    text-align: center;
    margin-bottom: 20px;
}

.sticker-container {
    display: flex;
    justify-content: space-around;
}

.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.sticker-image {
    width: 100px;
}

.sticker-input {
    margin-top: 10px;
    width: 60px;
    text-align: center;
}

.action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.resultado {
    margin-bottom: 10px;
}